<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: greenyellow;">
        Here the list of programmers
    </h1>

    <ul>
        <% programmer.forEach(geek => { %>
            <li>
                ID: <%= programmer.id %>, Name: <%= programmer.name %>, Language: <%= programmer.language %>
            </li>
        
        
        <%}) %>
    </ul>

    
</body>
</html>