<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    Hobbies of <%=data.name%> are:<br/>
    <ul>
        <% data.hobbies.forEach((item)=>{%>
            <li>
                <%=item%>
            </li>
        
        <%});%>
    </ul>
    
</body>
</html>