<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1> creating a diary app</h1>

    <form action="">
        <label for="title" , method="POST">Title</label>
        <input type="text" name="title-required"> <br> <br>
        <label for="content", method="POST">Content</label>
        <textarea name="content" id="content" row="10", cols="30"></textarea><br><br>
        <button type="submit">submit</button>

    </form> -->

   
        <ul>
            <% data.forEach((maal) => { %>
            <li>
                <%= maal %>
            </li>
        </ul>
        
    <%}); %>


</body>
</html>